@import "../../../../styles/mixins/index.scss";

.payrolling-all-contnet-alignment {
    padding: 100px 0;
    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .three-col-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 20px;
        @include breakpoint("sm-max") {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .three-col-grid-items {
            display: flex;
            gap: 14px;
            i {
                font-size: 20px;
                color: #0263cc;
                position: relative;
                top: 3px;
            }
            p {
                font-size: 16px;
                color: #777;
                font-weight: 500;

                @include breakpoint("sm-max") {
                    font-size: 14px;
                }
            }
        }
    }

    .title {
        padding: 0 0 50px 0;
        @include breakpoint("sm-max") {
            padding: 0 0 40px 0;
        }
        h2 {
            margin: 0 0 24px 0;
            font-size: 42px;
            color: #050505;
            font-weight: 700;
            text-align: center;
            @include breakpoint("sm-max") {
                font-size: 32px;
                line-height: 44px;
            }
        }
        p {
            font-size: 16px;
            line-height: 30px;
            color: #777;
            text-align: center;
            margin: 0 0 20px 0;

            @include breakpoint("sm-max") {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
}
