@import "breakpoints";
@import "typography";
@import "input";
@import "layout";


.button {
    button {
        background-color: #eb651f;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        border-radius: 9999px;
        border: none;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

.button-outline {
    a {
        background-color: transparent;
        padding: 14px 40px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        border-radius: 9999px;
        border: 1px solid #eb651f;
        cursor: pointer;
        letter-spacing: 1px;
        transition: .3s ease-in-out;
        &:hover {
            background-color: #eb651f;
        }
    }
}