@import "../../../../styles/mixins/index.scss";

.staffing-details-alignment {
    padding: 100px 0;
    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .title {
        padding: 0 0 50px 0;
        @include breakpoint("sm-max") {
            padding: 0 0 40px 0;
        }
        h2 {
            margin: 0 0 24px 0;
            font-size: 42px;
            color: #050505;
            font-weight: 700;
            text-align: center;
            @include breakpoint("sm-max") {
                font-size: 32px;
                line-height: 44px;
            }
        }
        p {
            font-size: 16px;
            line-height: 30px;
            margin: 0 0 24px 0;
            color: #777;
            text-align: center;

            @include breakpoint("sm-max") {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @include breakpoint("sm-max") {
            grid-template-columns: 1fr;
            gap: 30px;
        }
        .grid-items {
            padding: 24px;
            border: 1px solid #e0e0e0;
            border-radius: 6px;
            transition: 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 8px 24px hsla(210, 8%, 62%, 0.2);
            }

            i {
                font-size: 40px;
                color: #0263cc;
            }
            p {
                margin: 24px 0 0 0;
                font-size: 24px;
                color: #323232;
                font-weight: 700;

                @include breakpoint("sm-max") {
                    font-size: 18px;
                }
            }
        }
    }
}
