@import "../../../../styles/mixins/index.scss";

.title {
    text-align: center;
    padding: 0px 0px 100px 0px;
    color: #eb651f;
    font-size: 35px;
    @include breakpoint("sm-max") {
        padding: 0px;
    }
}

.invision-story-alignment {
    padding: 100px 0;

    @include breakpoint("sm-max") {
        padding: 60px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        padding: 40px 0px;

        @include breakpoint("sm-max") {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        .grid-items {
            align-self: center;

            h1 {
                margin: 0 0 24px 0;
                font-size: 42px;
                color: #050505;
                font-weight: 700;

                @include breakpoint("sm-max") {
                    font-size: 32px;
                    line-height: 44px;
                }
            }

            p {
                font-size: 16px;
                line-height: 26px;
                color: #777;
                margin: 0 0 20px 0;

                @include breakpoint("sm-max") {
                    font-size: 14px;
                }
            }

            .img {
                img {
                    width: 100%;
                    min-height: 300px;
                    object-fit: cover;
                    transition: all ease-in-out 0.5s;

                    &:hover {
                        box-shadow: rgba(0, 0, 0, 0.521) 0px 10px 36px 0px, rgba(0, 0, 0, 0.63) 0px 0px 0px 1px;
                    }
                    
                    @include breakpoint("sm-max") {
                        height: auto;
                    }
                }
            }
        }
    }
}